[2018-08-29 12:46] mesutcelik opened #6 "AWS EKS is binding MC to a DNS name"
When you deploy hazelcast chart to AWS EKS, the instructions provided in INDEX.txt was not correct for Management Center so I had to find out MC URL by executing describe command.

please see ``LoadBalancer Ingress`  below.

[code]

[2018-10-24 14:59] hasancelik opened #8 "use hazelcast.licenseKey as a mancenter.licenseKey if it is not configured?"
Most of the Enterprise license keys include _Management_Center_ feature so we can use same license key for both deployments to prevent additional configuration step(from Management Center dashboard).

[2018-10-26 11:12] johnmdesjardins opened #9 "Add parameters for more Hazelcast cluster configs such as HD and WAN Replication"
It might be a nicer experience if more config settings could be set via parameters to the Helm install rather than in the values.yaml or hazelcast.xml. These commands with often be run by ops teams and this would give a better experience and make scripting easier.

[2018-11-13 14:20] leszko opened #13 "Create a tool to improve Helm Chart maintenance"
We already have a lot of similar Helm Charts:
- stable/hazelcast
- stable/hazelcast-jet
- hazelcast/hazelcast
- hazelcast/hazelcast-jet
- hazelcast/hazelcast-enterprise
- hazelcast/hazelcast-jet-enterprise
- ibm
- ibm community enterprise

We need to create some tooling to maintain them effectively. An idea would be to create a tool that makes the changes everywhere from a `*.patch` file. Or a too

[2018-12-17 13:41] #8 closed

[2018-12-17 13:53] leszko opened #18 "Create a way to mount a custom volume"
Currently, to mount a volume, which contains  custom JARs, keystore/trustore, a user needs to modify templates/*. Allow doing it just by modifying `values.yaml`.

[2019-01-30 09:30] leszko opened #21 "Run kubesec.io for hazelcast and hazelcast-enterprise"
Information
===================
Run kubesec.io on `hazelcast/hazelcast` and `hazelcast/hazelcast-enterprise` Helm Charts and fix the obvious comments.

Comments from Mesut
=======================

kubectl plugin scan statefulset/pioneering-zebra-hazelcast

scanning statefulset pioneering-zebra-hazelcast

kubesec.io score: 3

-----------------

Advise1. .spec .volumeClaimTemplates[] .spec .accessMo

[2019-03-06 14:54] hbceylan opened #23 "mancenter default service type is wrong"
Hi,

The `mancenter.service.type` is ClusterIP in readme, but it's **LoadBalancer** by default in values.yaml file. Clould you please check it?

Thanks,

[2019-03-06 15:25] leszko commented on #23
Good spot @hbceylan , I've sent a fix PR: #24

[2019-03-06 15:27] #23 closed

[2019-03-07 15:43] #21 closed

[2019-03-07 15:53] davidkarlsen opened #25 "allow for ingress for mancenter"
It would be nice to have an opt-in ingress for the man-center in https://github.com/hazelcast/charts/tree/master/stable/hazelcast/templates

[2019-03-10 21:22] davidkarlsen opened #27 "unable to validate against any pod security policy: [spec.securityContext.fsGroup: Invalid value:"
I get
[code]

when attempting to install the mancenter

[2019-03-11 08:45] leszko commented on #27
What is your k8 environment? GKE? Minikube? In any case, we'll probably just change the default user to `65535`, but I'm asking where it's worth to test it.

[2019-03-11 09:00] davidkarlsen commented on #27
I'm running on ICP, IBM Cloud Private (onprem).
https://www.ibm.com/support/knowledgecenter/en/SSBS6K_3.1.2/

[2019-03-11 09:39] davidkarlsen commented on #27
Works fine if I override the UIDs

[2019-03-11 09:46] leszko commented on #27
Ok, I've sent the fix #28

[2019-03-11 14:14] #27 closed

[2019-03-13 14:32] leszko commented on #25
Implemented in #29

[2019-03-13 14:32] #25 closed

[2019-05-01 19:04] mesutcelik opened #34 "resources parameters for cpu/memory"
I see from this link that we can define 4 parameters for cpu/memory but README only mentions `resources` with a default value `nil`
https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/#resource-requests-and-limits-of-pod-and-container

[code]

README has to be fixed by adding all those 4 parameters with their default values.

[2019-05-10 10:45] mesutcelik opened #35 "Charts repo has no tags in releases section"
I see no tagging here but we do have releases.
https://github.com/hazelcast/charts/tags

It would be good to tag repo after each release so that we can simply check previous versions in case of troubleshooting.

[2019-05-16 15:46] dacleyra opened #36 "PVC metadata.name length may prevent glusterfs strorageclass use"
glusterfs appends `glusterfs-dynamic-` to the storage service name, 18 characters.

https://github.com/kubernetes/kubernetes/blob/master/pkg/volume/glusterfs/glusterfs.go#L72

The service name has a max length of 63, as per the error below.

Consider trimming the PVC metadata.name to a maximum of 45 characters.

[code]

[2019-05-20 08:47] leszko commented on #36
@dacleyra  thanks for raising up the issue. Is it just the case of glusterfs or is it an issue for some other PVC? Maybe that should be fixed on the Gluster side, what do you think?

[2019-05-20 09:03] leszko commented on #35
@mesutcelik How would you tag it? The repo has 4 different helm charts and each has a different version.

[2019-05-20 13:52] dacleyra commented on #36
afaik, it is unique to glusterfs
the fix on kube side was to allow the prefix to be configurable
https://github.com/kubernetes/kubernetes/issues/53939
as such, it is up to content whether to guard against this case or not

[2019-05-21 07:15] leszko commented on #36
hmm, TBH, to me it's weird that we should shorten the name because of one of PVC providers implementation. On the other hand, we can be pragmatic and just do it ;)
Feel free to send a PR with the change.

[2019-05-21 11:46] mesutcelik commented on #35
I do not know. Maybe using helm chart name in the tag..

[2019-05-22 15:35] mesutcelik opened #38 "Pod Security Review Feedback"
- Why do we have two ServiceAccount definition? [1](https://github.com/hazelcast/charts/blob/master/stable/hazelcast/templates/statefulset.yaml#L86) [2](https://github.com/hazelcast/charts/blob/master/stable/hazelcast/templates/statefulset.yaml#L100)
- Is [this](https://github.com/hazelcast/charts/blob/master/stable/hazelcast/templates/statefulset.yaml#L93) if condition relevant as `runAsUser` is

[2019-05-22 16:16] mesutcelik commented on #38
I see some of them already mentioned in the PR
https://github.com/hazelcast/charts/pull/30

[2019-05-24 10:01] leszko opened #39 "Lite-members for Helm"
Reported by @neilstevenson.

The Helm chart only creates non-lite members.

It would be useful if it could create lite-members also.

[2019-05-24 10:05] leszko commented on #34
@mesutcelik I remember that one of the comments when we send a PR to the official repo was that we should not set any default values on resources, but keep them commented out (let user uncomment them if needed). That makes sense to me, because when you keep them `nil` by default then the values which are default for the Kubernetes cluster are used. Otherwise we would need to decide what are the de

[2019-05-24 11:13] mesutcelik commented on #34
I did not know that and the person who asked the question was not clear on that too.

Can we add all those 4 parameters to the table and put `default` instead of `nil`? The table only contains `resources` for now.

[2019-05-24 11:31] leszko commented on #34
Sure, send as #40

[2019-05-24 11:41] leszko opened #41 "Add `runAsGroup`"
By default the Pod uses the group 0 (root). We could add the parameter `runAsGroup` (as reported by @mesutcelik in #38 ).

[2019-05-24 11:41] leszko commented on #38
This is fine I guess. One `serviceAccountName` is used for the resource `StatefulSet`. The other `serviceAccountName` is used for the resource `Pod`.

It looks fine. If it's empty then it's not set. I think that in YAML empty field is the same as not set field.

Yes, you're right, it was removed in #37 .

Yeah, I think we could add it. For clarity I've created a separate GH Issue #41

[2019-05-24 11:43] #34 closed

[2019-05-24 12:00] mesutcelik commented on #38
I see that caused some lint errors. Apparently, @dacleyra has removed one of them in the PR
https://github.com/hazelcast/charts/pull/30/files#diff-f68bdae4b1dd62c1742d595338dba9c8L101

What happens if we just remove if condition and move `runAsNonRoot: true` just under `runAsUser`?

[2019-05-24 12:25] leszko commented on #38
Actually you're right. That's the fix: #42

If `runAsUser` is not defined, then you run as a root. So you don't want to have `runAsNonRoot` defined. That's my understanding. For example, you mount a volume which requires root permissions then you need to run your container as a root. Does it make sense?

[2019-05-24 15:16] mesutcelik commented on #38
I am probably focusing on readability... I feel refactoring into following would be more compact. Is there any problem with the following statement?

[code]

[2019-05-27 07:47] leszko commented on #38
@mesutcelik You're change is not just about readability. But I guess it's fine, we should never need to write to the root filesystem or allow priviledge escalation, even if you run as a root. I've created a PR to fix it. PTAL.

https://github.com/hazelcast/charts/pull/43

[2019-05-28 11:28] #38 closed

[2019-05-28 11:43] leszko opened #44 "Create Continuous Delivery process"
Currently, Hazelcast Helm Chart repo i published by the Helm-Chart-release pipeline in Jenkins. However, there are the following drawbacks comparing the to the [official Helm Chart repo](https://github.com/helm/charts):

* The Jenkins release is not triggered automatically (you need to go into Jenkins and click "Build" to release new chart versions)
* There are not tests run (so, actually you need

[2019-08-07 20:15] zdehz opened #53 "Logging configuration support"
As I user, I would like to configure logging by specifying a logging framework (eg. log4j, log4j2, logback) and a configuration. Some of the logging framework libraries can also be included in the `lib` jars.

[2019-09-10 20:57] seenimurugan opened #58 "Configuring service-dns fails when installed from helm chart"
When run the Hazelcast server using helm chart with service-dns value configured fails with the following error

Caused by: com.hazelcast.config.InvalidConfigurationException: Properties 'service-dns' and ('service-name' or 'service-label-name') cannot be defined at the same time

I override the config properties from the parent chart as follows
[code]
I tried overriding the service-name property

[2019-09-10 21:45] mesutcelik commented on #58
I tried the same and it does not work. However, when I fetched the helm chart and modified locally, `helm install .` creates correct ConfigMap.

[2019-09-19 17:53] mesutcelik commented on #58
I checked that one again and I see it is similar to that issue.
https://github.com/helm/helm/issues/5534

Apparently, When you do `helm install hazelcast/hazelcast -f values.yaml`, helm merges both local and remote yaml file, we need to set `service-name: null` as @seenimurugan did.

local values.yaml
[code]

It is good so far but then we receive an exception with that configuration and it is thro

[2019-09-23 11:38] mesutcelik opened #61 "MC Built-In User Creation while helm install"
When we install hazelcast helm charts, we have to signup and then login all the time after the installation. Instead of doing that, helm chart can create a admin user and keep a generated password in a Secret.

This is a sample Dockerfile which creates a builtin user.
https://github.com/hazelcast/hazelcast-docker-samples/blob/master/management-center-built-in-user/Dockerfile#L5

[2019-09-23 14:33] neilstevenson opened #62 "Management Center health URL"
This chart https://github.com/hazelcast/charts/blob/master/stable/hazelcast-enterprise/templates/mancenter-statefulset.yaml#L58 says use port 8080 or 8443 for the health URL

The health URL is on 8081, https://docs.hazelcast.org/docs/management-center/3.12.5/manual/html/index.html#enabling-health-check-endpoint as always by HTTP not HTTPS

[2019-10-10 11:29] eminn opened #64 "Failed to set a license key to Hazelcast Jet Enterprise chart"
When tried to set license key with `jet.yaml.hazelcast.license-key` option, the chart doesn't recognize the provided key and fails to start.

[2019-10-14 10:46] hasancelik opened #65 "enable auto-merge via Github comments at sync script after testing period"
Remove this line:
[code]
and add below part:
[code]

[2019-10-14 14:10] hasancelik commented on #64
Jet license can be configurable via `--set jet.licenseKey=` parameter. Configuring license with `jet.yaml.hazelcast.license-key` parameter does not make sense. By the way, I could create Jet cluster via using current master of this repo:
[code]
WDYT @eminn ?

[2019-10-17 08:08] hasancelik opened #68 "sync script should not port changes which are already at official repo"
When someone from community sends PR to our official helm chart, we need to port it to this repo:
https://github.com/hazelcast/charts/pull/60
https://github.com/helm/charts/pull/17193

Even if developer copies changes from official repo without any modification, `git` can find unimportant diffs(whitespace etc). In such cases, the `create-pr-at-official-helm-repo` script should not create nonsense

[2019-10-18 08:33] leszko commented on #68
Good idea, we should implement it 👍

[2019-10-21 12:12] #68 closed

[2019-10-25 08:28] hasancelik opened #72 "Convert EE READMEs to asciidoc(.adoc)"
We are using two different type of README at OS(.adoc) and EE(.md) charts. Using same file type would be good for development process.

https://github.com/hazelcast/charts/pull/71

[2019-10-25 10:51] mesutcelik commented on #62
In addition to that, we need to enable health check by default on MC deployment.
`-Dhazelcast.mc.healthCheck.enable=true`

[2019-10-25 12:24] hasancelik opened #73 "check Chart version is updated or not at run-test script(PR builder)"

[2019-10-27 16:30] mesutcelik opened #74 "Prometheus Scraping on 5701 in addition to 8080"
When you install hazelcast helm chart with `metrics.enabled=true`, Prometheus tries to scrape 2 ports on hazelcast member port. 5701 should not be scraped as hazelcast publishes metrics on 8080.

![image](https://user-images.githubusercontent.com/823273/67637906-88d5e900-f8b5-11e9-98f0-0b5ec26abb53.png)

[2019-10-29 19:03] mesutcelik opened #75 "OpenSSL Read-only file system problem"
**How to reproduce**

Create a keystore with key and certificates
[code]
Install hazelcast-enterprise with the following command
[code]
The exception on the hazelcast member log says readonly filesystem.
[code]

**Workaround**
Making [this](https://github.com/hazelcast/charts/blob/master/stable/hazelcast-enterprise/templates/statefulset.yaml#L133) explicitly `readOnlyRootFilesystem: false` fixes t

[2019-10-30 16:40] mesutcelik commented on #36
I am closing that issue. Ops can shorten glusterfs endpoint by providing `customepnameprefix`  if their pvc name is too long.

This is a sample [configuration](https://github.com/kubernetes/examples/tree/master/staging/persistent-volume-provisioning#glusterfs) with `customepnameprefix` usage.

[code]

[2019-10-30 16:40] #36 closed

[2019-10-30 16:55] #9 closed

[2019-10-30 17:02] mesutcelik commented on #44
Have we implemented any of those? @leszko @hasancelik

[2019-10-30 18:11] mesutcelik commented on #53
I agree but first the support has to be added to docker side..
related issue for hazelcast-jet --> https://github.com/hazelcast/hazelcast-jet-docker/issues/13

[2019-10-30 19:53] mesutcelik commented on #75
@kwart What do you think about that issue? Do you think OpenSSL requires write permission on filesystem?

[2019-10-31 07:12] leszko commented on #44
No, what we have is the pr-builder.  Thanks @hasancelik!
But we'll need is a pipeline for the automatic release.

[2019-11-04 10:43] kwart commented on #75
Native JNI bindings, which are located under the `META-INF/native/` of the `netty` JARs, have to be unpacked before loading.

So yes, to use OpenSSL/BoringSSL you need a writeable FS. You could also install the natives manually first to a location listed in `java.library.path`, then you should be OK with the read-only FS, I guess.

If you have a writable directory somewhere on your system, you can

[2019-11-04 11:17] #62 closed

[2019-11-08 15:25] mesutcelik commented on #58
I had a quick chat with @blazember
I think we need to fix this in hazelcast-kubernetes plugin by introducing a new parameter `discovery-mode: API | DNS` and deprecating `service-dns`. If `discovery-mode` is `DNS` then `service-name` can be used instead of `service-dns`

[2019-11-14 15:53] sashkica opened #80 "Management Center Ingress has no Path defined"
The ingress does not work because the ingress path is not defined, the path should be set to:  /hazelcast-mancenter

[2019-11-18 11:11] mesutcelik commented on #80
Hi @sashkica ,

What is the issue you are having? When you send a request to `/hazelcast-mancenter`, isn't it handled by MC Service? I haven't tried myself but path might have been removed because we only have one backing service behind Ingress and all requests are sent to that service

I see it was removed with that commit https://github.com/hazelcast/charts/pull/29/commits/92416971d655f2c9214e58

[2019-11-19 12:36] #80 closed

[2019-11-19 12:36] sashkica commented on #80
Hi,
True it works! Having the /hazelcast-mancenter path defined in the ingress is just more convenient.

[2019-11-27 08:58] leszko opened #83 "Change the default livenessProbe endpoint to `/health`"
Currently the default `livenessProbe` endpoint is `/health/node-state`. It should actually be `/health`.

The change is trivial, but before applying it we need to double check that it does not break rolling upgrade and scaling down.

[2019-11-27 22:00] mesutcelik commented on #83
Are you going to parse the response and decide if it is healthy?

[code]

Apart from `/node-state/` and `/health`, we have `/ready` too. We just need to figure out which one does really tell us `restart me` if it returns not-200 Response Code. cc: @mmedenjak

[2019-11-28 09:18] leszko commented on #83
I think that we don't need to parse it, HTTP 200 from `/health` should mean I'm alive. That is what should be used for `livenessProbe`.

Currently I think it's a little wrong, because we use `/health/node-state` and it returns 503 if the [Hazelcast node is in the shutdown state](https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/java/com/hazelcast/internal/ascii/rest/HttpGetComm

[2019-12-05 12:39] mesutcelik opened #84 "Headless Kubernetes Service By Default"
Hazelcast uses Kubernetes Service to discover other Hazelcast Members so no need to have a LoadBalancer or clusterIP as service type. It must be Headless by default and it is actually recommended way to use

https://kubernetes.io/docs/concepts/configuration/overview/#services
`Use headless Services (which have a ClusterIP of None) for easy service discovery when you don't need kube-proxy load bala

[2019-12-05 14:43] #84 closed

[2019-12-05 14:43] #75 closed

[2019-12-12 07:52] Srinivasa381224 opened #86 "Failed to connect to: http://hazelcast-mancenter:8080/hazelcast-mancenter/"
Hi, am sri I have installed hazelcast using helm in my eks cluster in dev namespace previously its running 2 members and 1 mancentre after we are try to deploy another 2 members and 1 mancentre with some different name in same namespace But i getting some errors in the members log files Please help me for this

Please check me the logs am getting from hazelcast member

[code]

[2019-12-12 11:42] mesutcelik commented on #86
Hi
This looks like health checks are sending wrong REST request.
Can you run this by replacing IP with your one of the hazelcast members?
`curl 172.17.0.6:5701/hazelcast/health/node-state;echo`

Can you also share how you installed hazelcast via helm?

[2019-12-12 12:13] Srinivasa381224 commented on #86
Hi, mesutcelik
State is Active only
yes i installed via helm only

[2019-12-12 12:19] Srinivasa381224 commented on #86
This is the values.yaml file i am using to install
[hazelcastvalues.txt](https://github.com/hazelcast/charts/files/3955663/hazelcastvalues.txt)

[2019-12-12 12:22] mesutcelik commented on #86
I see. That looks like something specific to EKS.
I tried with minikube and installed with `helm install hazelcast stable/hazelcast` with default values.yaml and did not see any error like below.

[code]
which helm chart version of hazelcast are you using? `helm ls` can give some info.

[2019-12-12 14:58] Srinivasa381224 commented on #86
member is 3.12 and mancentre also 3.12 and helm chart version is hazelcast-2.9.2
am also tried with minikube its working fine but in my dev environment we already have hazelcast its running with 2members 1management center we are trying to deploy 2more members and 1more mc
because in 1mc it can only manage 2members in free so installation time just we changed the name in to hazelcast-new and we ar

[2019-12-12 15:13] Srinivasa381224 commented on #86
Mainly am getting the error of """Failed to connect to: http://hazelcast-dev-new-mancenter:8080/hazelcast-mancenter/collector.do"""
And one more error is "Failed to pull tasks from Management Center"

[2019-12-12 15:21] mesutcelik commented on #86
please send a complete reproducer with every helm command preferably tested with minikube . It is not easy to help with that many comments on the issue.

[code]
This can be something temporary while DNS records are being created.

P.S: As a side note, Management Center supports up to 3 hazelcast members.

[2019-12-13 05:26] Srinivasa381224 commented on #86
But in management center dashboard i can able to see member information but clients it is showing 0 I think i need to enable this "-Dhazelcast.rest.enabled=true"  how can i enable or where can i add this property into values.yaml file

[2019-12-19 11:13] mesutcelik commented on #86
You can monitor clients by switching on that feature on your client application.
For more info - https://docs.hazelcast.org/docs/management-center/latest/manual/html/index.html#monitoring-clients

[2019-12-21 01:26] mesutcelik commented on #18
initContainers can be used to implement this.
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/

Currently the manual upload will be done with following steps.

**Create PVC**
[code]

**Create a Pod with the volume attached to upload Jar file**

[code]

**Upload the jar file**
[code]
**Update helm chart(statefulset.yaml) with the following environment variable**
[code]
**Update v

[2020-01-07 13:18] leszko opened #87 "Update Chart for 4.0"
Management Center changed the discovery, so the chart needs to be updated.

[2020-01-21 23:04] moficodes opened #91 "Hazelcast Helm Deploy on IKS not connecting"
This might be a possible duplicate of #86

Deployed Hazelcast with helm to IKS Cluster.

[code]

[code]

[code]

Visiting http://$MANCENTER_IP:8080/hazelcast-mancenter
gives
![image](https://user-images.githubusercontent.com/14829780/72850956-53545800-3c78-11ea-95ef-c2cd980a9b08.png)

Not sure where to look for debugging.

[2020-01-21 23:04] moficodes commented on #91
Oh and

[code]

return the above

[2020-01-21 23:53] mesutcelik commented on #91
Hi @moficodes ,
Can you please check if PV and PVC has any problem?
https://github.com/hazelcast/charts#why-is-management-center-pod-in-pending-state

[2020-01-29 20:43] moficodes commented on #91
Oh man. Github notification is failing me big time.
The PV and PVC deployed fine.

[code]

I would probably try to manually deploy this and see if that works.

[2020-01-29 20:49] mesutcelik commented on #91
Hi @emre-aydin @puzpuzpuz ,
Do you have any idea of this NPE? https://github.com/hazelcast/charts/issues/91#issuecomment-576928393

[2020-01-30 08:49] puzpuzpuz commented on #91
Hi @mesutcelik

I didn't see this one before. Which MC version by the helm? Is it 3.12.6?

Is it possible to sniff POST `/hazelcast-mancenter/getTask.do` HTTP request somehow? Or at least to enable debug logs in MC (see [this ref manual section](https://docs.hazelcast.org/docs/management-center/3.12.6/manual/html/index.html#configuring-logging))?

[2020-02-03 11:27] eminn opened #92 "Update Hazelcast Jet chart to 4.0"
Follow-up changes on the configurations and apply them to the charts accordingly

[2020-02-04 15:25] leszko commented on #13
Since `stable/*` becomes deprecated with the Helm 3 adopting HelmHub discovery, I think we can close this issue. IBM maintains their charts by themselves anyway.

[2020-02-04 15:25] #13 closed

[2020-02-04 15:29] leszko commented on #58
The workaround for this (or maybe even a proper solution) is to set `service-name: ` to an empty string.

I think we'll not introduce `discovery-mode API | DNS`, but rather extract the DNS Lookup discovery as a separate modele (or include in hazelcast/hazelcast).

[2020-02-06 15:18] leszko opened #95 "Use VolumeClaimTemplates instead of PersistentVolumeClaim for Hot Restart"
Using `VolumeClaimTemplates` (as described [here](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#components)) would make each Hazelcast member receive a separate `PersistentVolume` for the Hot Restart directory. That would enable using `ReadWriteOnce` PersistentVolumes. Currently we can use only use `ReadWriteMany`.

[2020-02-06 22:12] horakihor commented on #53
+1 This feature would be very helpful for the Hazelcast Cloud Team. It makes a process of parsing logs and sending them to the central repository very straightforward. Instead of supporting different log formats, supporting different parsers, we can simply write logs in JSON on all our components and send them directly to the central place.

[2020-02-12 15:51] maurizio-lattuada commented on #58
Hi,
I have exactly the same problem of @mesutcelik (https://github.com/hazelcast/charts/issues/58#issuecomment-533240111).
No matter I set either
- `service-name: null`
- `service-name: ` (note the white space after the ":")
- `service-name:` (no white space after the ":")
- `service-name: ~`

I get always the exception

For completeness, I'm using Hazelcast 3.12.6 deployed with its helm chart ver

[2020-02-13 09:13] leszko commented on #58
I think we need to fix it in the `hazelcast-kubernetes` plugin to treat empty strings the same as null. Added a "bug" label.

[2020-02-22 19:19] lucas-svieira commented on #74
I'd like to take a shot at it!

[2020-02-24 07:21] hasancelik commented on #74
Sounds perfect @lucas-svieira, I assigned you to this GH issue 👍  Looking forward to your contribution!

[2020-02-24 08:37] Holmistr commented on #74
@lucas-svieira We're going to circle back internally on how to provide the initial guidance. We'll get back to you soon.

[2020-02-24 10:10] lucas-svieira commented on #74
@Holmistr ok, great! I already set up a Minikube instance and installed hazelcast using Helm. For some reason, the mancenter keeps crashing, but I'll check why later.

I've already took a quick look at the configuration files but found nothing out of ordinary, and the only port I saw configured for Prometheus scraping was 8080. Let's see where do we go from here.

[2020-02-24 12:34] mesutcelik commented on #74
Hi @lucas-svieira , Do you see the same error on Prometheus Dashboard that I shared on the screenshot? Prometheus is trying to scrape port 5701 where it shouldn't so it fails.

I assume there is a problem with some labels or annotations.

[2020-02-24 23:09] lucas-svieira commented on #74
@mesutcelik well, I'm not actually able to identify where is that screen you posted, if you could point me the direction. I was able to bring everything up and I can hit the /metrics endpoint, I'm just not able to find this screen.

[2020-02-25 01:00] lucas-svieira commented on #74
@mesutcelik I just got everything running and, yes, it's trying to scrape port 5701 on each Hazelcast instance. I'll take a look around to see if I figure something out.

[2020-02-25 07:25] cristina-sirbu commented on #41
Hello! May I take this issue please?

[2020-02-25 15:55] Holmistr commented on #41
@cristina-sirbu And the issue is yours! :tada: I see you already sent a PR, wow! In that case, let me get the reviews for it.

[2020-02-26 04:47] #74 closed

[2020-03-02 11:23] #41 closed

[2020-03-02 11:28] mesutcelik commented on #86
Closing the issue due to inactivity. Please create a new issue if you are experiencing a problem.

[2020-03-02 11:28] #86 closed

[2020-03-02 11:29] mesutcelik commented on #91
Hi @moficodes ,
Are you still experiencing this or it is resolved on your side?

[2020-03-02 14:30] #92 closed

[2020-03-07 08:50] jayar opened #105 "Hazelcast management center can't redeploy"
After a successfully first deploy, then after redploying the management center, it will fail with the following log message:
executing command specified by MC_INIT_CMD
ERROR: Could not add new Cluster Config. Reason: Cluster config dev already exists!
To see the full stack trace, re-run with the -v/--verbose option.

Expected behavior is that restart will work fine.
If persistence is disabled, it

[2020-03-09 19:52] mesutcelik commented on #105
Hi @jayar ,
Can you share your install and redeploy commands?

[2020-03-10 07:00] emre-aydin commented on #105
@mesutcelik it looks like the command is run for the second time when the container is restarted and it fails to create the same user as it already exists. Normally, we want this command to fail when such condition occurs but in this case we need to print an error and continue. We have several options for solving the issue:

1. Command returns 0 but prints the error message - I wouldn't prefer thi

[2020-03-10 16:24] mesutcelik commented on #105
I think you are talking about he re-run of [that script](https://github.com/hazelcast/charts/blob/dec16bdecf67a282b8de4c6ef15586dc08c99b1d/stable/hazelcast/templates/mancenter-statefulset.yaml#L104) right?

Can't you update script to add cluster if it does not exist and do nothing or override if it exists?
I am not sure that fits any of your 3 options above?

[2020-03-11 08:47] leszko commented on #105
Yeah, I agree with @mesutcelik , I think the script command should have an option like `--force` or `--overwrite` to create the user if it does not exist. To me it sounds like a common scenario (not only for Docker related stuff) that you re-use the MC persistent data, but just want to re-run MC service.

@emre-aydin , what do you think?

[2020-03-11 09:51] emre-aydin commented on #105
@mesutcelik @leszko so you're basically suggesting option 2. We can do this for both user creation and cluster addition. Let me create an issue for 4.0.2 (which is the next patch release of MC).

[2020-03-11 09:52] leszko commented on #105
Thanks @emre-aydin !

[2020-03-11 15:21] leszko commented on #87
Fixed by #94

[2020-03-11 15:21] #87 closed

[2020-03-11 17:08] jayar commented on #105
That sounds great, let me know I need to test anything.

[2020-03-13 08:51] leszko commented on #58
Created an issue in hazelcast-kubernetes: https://github.com/hazelcast/hazelcast-kubernetes/issues/197

[2020-03-15 15:31] sjha2048 commented on #72
hello @mesutcelik , I would like to take up this issue.

[2020-03-15 15:36] mesutcelik commented on #72
@sjha2048 Thanks a lot! Documentation is always a great start for any contributions!

[2020-03-15 16:25] sjha2048 commented on #72
Thank you @mesutcelik , I have opened a PR regarding same and looking forward to contributing to Hazelcast :)

[2020-03-16 14:31] cristina-sirbu commented on #95
Hello! Can I take this task?

[2020-03-16 16:07] mesutcelik commented on #95
Thanks @cristina-sirbu! It is already yours...

[2020-03-17 07:54] leszko commented on #95
Thansk @cristina-sirbu , thanks for taking this issue. If you have any questions or clarifications, let us know!

[2020-03-19 13:16] #35 closed

[2020-03-24 13:30] #72 closed

[2020-03-25 02:04] boatmisser commented on #105
@emre-aydin Have you created an issue? Could you reference it here so we can track its progress.
Thanks!

[2020-03-25 07:31] emre-aydin commented on #105
@boatmisser here it is but it's in a private repo. The PR for fixing it is merged and will be released in MC v4.0.2.

[2020-03-26 01:35] boatmisser commented on #105
@emre-aydin  thanks for the update; really appreciate the fast response; do we have a rough ETA for MC v4.0.2.

[2020-03-26 07:56] emre-aydin commented on #105
@boatmisser We're trying to limit patch releases to once a month. 4.0.1 was released on 9th of March. I guess it will be released around mid April.

[2020-03-28 16:54] adnxn commented on #83
any guidance on how to validate these two things? rolling upgrades and scaling down?

[2020-03-28 16:57] adnxn commented on #83
well just came across these:
https://hazelcast.com/blog/rolling-upgrade-hazelcast-imdg-on-kubernetes/
https://hazelcast.com/blog/how-to-scale-hazelcast-imdg-on-kubernetes/

but yea - any other advice would be welcome. thanks

[2020-03-29 19:57] Holmistr commented on #83
Hi @adnxn , glad to see you here :) I'm assigning you the issue and I'll make sure to get you some guidance from our experts. Looking forward to your contribution!

[2020-03-30 07:49] leszko commented on #83
@adnxn, thanks for taking this issue!

So, I recommend doing the following:
- Change `/health/node-state` => `/health` and check if it waits correctly for readiness (it should start one member, wait 30s, start second member, wait, etc.)
- Check rolling upgrade (put a lot of data into a cluster (~2GB), perform rolling upgrade, check if there is no data loss)
- Check scaling (make big cluster (6 mem

[2020-03-30 10:29] leszko commented on #83
And about the technical details how to scale up/down and how to perform the rolling updates, the blog posts you mentioned are good guidelines. I recommend using Helm Chart.

Then for the scaling, all you need to do is to execute:
[code]

And for the rolling update:
[code]

Write here if you encounter any issues. I'll try to help.

[2020-04-02 11:47] mesutcelik commented on #61
waiting for https://github.com/hazelcast/management-center-docker/issues/26

[2020-04-02 12:45] leszko opened #117 "Fix Jenkins PR Builder to not check version bump when only README changed"
Currently, when you change only README (so you don't want to bump up the chart version and therefore make a release), Jenkins PR Builder fails.

[2020-04-02 12:52] leszko commented on #58
The workaround for this is to create `ConfigMap` with Hazelcast configuration manually and use [existingConfigMap](https://github.com/hazelcast/charts/blob/master/stable/hazelcast/values.yaml#L32).

[2020-04-02 12:54] #44 closed

[2020-04-03 05:28] leszko commented on #117
Closing, because actually the official repo does the same [1]. They doesn't allow README changes without bumping up the chart version.

[1] https://github.com/helm/charts/pull/21727#issuecomment-607930370

[2020-04-03 05:28] #117 closed

[2020-04-03 10:58] mesutcelik commented on #95
Hi @cristina-sirbu ,
Do you need any help on this? I see the issue is not updated lately so if you are stuck at some point, just let us know.

[2020-04-04 16:28] adnxn commented on #83
@leszko: thanks for the info

what would be the best way to do this? aside from writing a client or something?

[2020-04-06 06:02] leszko commented on #83
@adnxn

1. Right, for the older HZ version, you need to use the old helm chart version. I forgot to mention that. Try the following commands, they should work:

[code]

2. Wrt data inserting,
You can either write the client app to insert the data. Or you can use the built-in Client Console App. If you have a running hazelcast cluster on kubernetes, try executing the following.
[code]

[2020-04-07 05:07] cristina-sirbu commented on #95
Hello @mesutcelik!
Sorry for my absence. I think I've finished it. I created a PR with a version of what I've done. When you will have time can you please take a look and let me know if I've accomplished what was expected for this issue?

[2020-04-07 05:53] leszko commented on #95
@cristina-sirbu Thanks a lot for the PR, we'll review it soon :)

[2020-04-08 11:37] mesutcelik opened #120 "Management Center Persistence in Helm Charts"
`mancenter.persistence.enabled` parameter is used to create Persistence Volume for MC but we need to create PV everytime MC is deployed with helm chart.

I believe we should remove `mancenter.persistence.enabled`. @emre-aydin What do you think?

[2020-04-08 15:00] emre-aydin commented on #120
MC always needs access to local file system if one doesn't want to configure everything from scratch after a restart. I'm not sure what was the purpose of the parameter but seems it can be removed.

[2020-04-15 14:52] leszko commented on #95
Fixed by #119 thanks to @cristina-sirbu

[2020-04-15 14:52] #95 closed

[2020-05-13 10:01] xrow opened #123 "Please make deleteGracePeriodSeconds configureable"
Hi,

the issue is that the statefull sets do not terminate instantanly or fast. We want to configure it. The default is set in the cluster 600 which might be a long time.

[2020-05-13 10:21] leszko commented on #123
@xrow Thanks for raising it. Actually it is configurable with the [gracefulShutdown.maxWaitSeconds](https://github.com/hazelcast/charts/blob/master/stable/hazelcast-enterprise/values.yaml#L96) parameter. Check if it works for you.

[2020-05-13 10:37] xrow commented on #123
Thanks that helps. Please close.

[2020-05-13 10:37] #123 closed

[2020-05-13 10:46] mesutcelik opened #124 "MC Pod does not start with helm installation"
`helm install hazelcast2 hazelcast/hazelcast` command can't create MC pod in minikube.

[code]

output of `kubectl describe pod/hazelcast2-mancenter-0`
[code]

[2020-05-14 06:03] leszko opened #125 "Create checksum to automatically restart PODs when ConfigMap is changed"
When ConfigMap is changed `helm upgrade` should restart the Pods.

Comment from @hasancelik:

https://helm.sh/docs/howto/charts_tips_and_tricks/#automatically-roll-deployments
We can apply below logic into our statefulset.yaml files, i think:
https://github.com/helm/charts/blob/1ccfc8be4f3ca5f26b991f7e1d2eaccd9bbefadf/stable/grafana/templates/statefulset.yaml#L24

[2020-05-20 22:18] jamesdube commented on #86
I encountered the same problem, my fix was using using an older version of MC (4.0.2 -> 3.12.7) because my client was version 3.12.7. Hope this helps

[2020-05-21 12:49] mattrapa commented on #105
Any updates on this one, please. Still getting:
---
executing command specified by MC_INIT_CMD for container initialization
ERROR: Cluster null already exists.

To see the full stack trace, re-run with the -v/--verbose option.
---
using image: hazelcast/management-center:4.0.2

Thank you

[2020-05-21 13:08] mesutcelik commented on #105
I think the flag introduced by MC has not been used in helm chart yet. @emre-aydin ?

[2020-05-21 13:57] emre-aydin commented on #105
I don't know about the helm chart but the flag was introduced in MC 4.0.2 which is released, so we can make use of it in the helm chart.

[2020-05-21 14:41] mattrapa commented on #105
Where is this flag documented please?

[2020-05-21 15:00] emre-aydin commented on #105
@mattrapa `mc-conf` commands are self documenting, which means when you execute a command with no options (or with `--help` appended), it shows available options. In this case, it's the `--lenient` boolean flag that you're looking for.

[2020-05-21 15:39] mattrapa commented on #105
Thank you :)

[2020-05-21 15:48] mesutcelik commented on #105
@mattrapa It would be appreciated if you can contribute. I think it is relatively simple change.

[2020-05-21 15:50] mattrapa commented on #105
Yep let me figure out how to open a PR - I will also try and add additional labels for Prometheus service monitor.

[2020-05-25 06:33] #105 closed

[2020-05-27 13:35] #125 closed

[2020-06-01 20:18] cristina-sirbu commented on #61
The management-center-docker#26 issue has been solved. And I would like to take a look into this one, but I don't understand exactly what do you mean by "generated password"? @mesutcelik If you can provide more detalis around this I would be happy to help with it

[2020-06-01 20:50] mesutcelik commented on #61
I think we just need to remove this[ lifecycle hook](https://github.com/hazelcast/charts/pull/77/files#diff-0d291338c01e1a63f37d664664197229R86) from PR.

When I said generated, I actually meant adding password into Secret beforehand so you can assign required environment variables [here](https://github.com/hazelcast/charts/pull/77/files#diff-0d291338c01e1a63f37d664664197229R100).

[2020-06-02 02:45] cristina-sirbu commented on #61
I see. Took a look on your PR. Seems like your fork only needs an update and removing that lifecycle indeed. I will take a look around to help with another issue. 😄

[2020-06-02 12:34] mesutcelik commented on #83
Hi @adnxn ,
Do you need any more help to finalize this issue?

[2020-06-02 12:41] mesutcelik commented on #124
It seems it is fixed with latest helm chart.

@hasancelik @leszko Do you know which PR fixed the issue? You can put here as reference and close the issue.

[2020-06-02 13:19] mesutcelik commented on #58
@leszko I see k8s [issue](https://github.com/hazelcast/hazelcast-kubernetes/issues/197) is merged and closed so can we close this issue? Do we need any readme update?

[2020-06-02 13:20] mesutcelik commented on #73
@hasancelik Can you please add description to the issue? it is not really clear to me.

[2020-06-02 13:21] mesutcelik commented on #65
@hasancelik

I think this can be closed as we are not going to update central helm repo for hazelcast charts.

[2020-06-02 13:29] leszko commented on #124
I think it was never a bug per se. It's just that if you install two charts with the same name, the second will fail, because they try to use the same PersistentVolumeClaim. So you need to clean up PSC manually.

[2020-06-02 13:36] hasancelik commented on #65
Yes, you are right, closing...

[2020-06-02 13:36] #65 closed

[2020-06-02 13:37] hasancelik commented on #73
It is already fixed with https://github.com/hazelcast/charts/pull/106, closing...

[2020-06-02 13:37] #73 closed

[2020-06-02 13:39] #124 closed

[2020-06-04 10:22] mesutcelik commented on #61
What do you think about implementing initContainers?
https://github.com/hazelcast/charts/issues/18

[2020-06-05 20:54] cristina-sirbu commented on #18
Can I take this?

[2020-06-07 09:56] mesutcelik commented on #18
Sure. I suggest you to have a look this similar feature before implementing initContainers?
https://github.com/hazelcast/charts/pull/121

[2020-06-08 08:07] leszko commented on #18
I actually think this GH Issue is already implemented in #121 . Is there anything more we should do? CC: @mesutcelik

[2020-06-08 09:53] mesutcelik commented on #18
I would normally solve this issue by introducing initContainers.
https://kubernetes.io/docs/concepts/workloads/pods/init-containers/#init-containers-in-use

It is another way extending classpath without using `customVolume` but you are right #121 has already solved this issue.

@cristina-sirbu You can create another issue for `initContainers` support and implement if you want to proceed.

[2020-06-08 09:53] #18 closed

[2020-06-16 11:05] maurizio-lattuada opened #132 "Management-center in Kubernetes: cannot connect to a specific cluster-name with DNS lookup"
Hello,

I'm trying to deploy the Hazelcast Helm chart version 3.4.0 (https://hazelcast-charts.s3.amazonaws.com/) on a Kubernetes cluster (orchestrated via Rancher).

I tried different approaches to provide values for the management center (javaopts, configmap containing hazelcast-client.yaml file...), but I found no way to have the management center both:
* being able to connect to a cluster havin

[2020-06-16 12:50] hasancelik commented on #132
Hi @maurizio-lattuada ,

Configuring service discovery via `javaOpts: "-Dhazelcast.kubernetes.service-dns=hazelcast-mau.mau-test.svc.cluster.local"` is not correct actually, we do not have this kind of parameter for client configuration at Management Center side.

I think we can start with removing `javaOpts` line from `mancenter` section at your `values.yaml` and modifying `hazelcast-mancenter-co

[2020-06-17 12:04] kudodenko opened #133 "Can't install hazelcast release in various namespaces"
For some development improvement we are using various namespace for various environment.
In the case we can't install only one hazelcast release, every other deployment lead to next error:
[code]

I believe that the ability to install multiple releases in the same kubernetes cluster(but different ns) is a must for any charts.

[2020-06-17 12:06] kudodenko opened #134 "Set default login and password for hazelcast mancenter"
Provide the ability to pre-configure the username and password for hazelcast mancenter.

[2020-06-17 13:27] mesutcelik commented on #134
duplicate of https://github.com/hazelcast/charts/issues/61
will be fixed by https://github.com/hazelcast/charts/pull/77

[2020-06-17 13:27] #134 closed

[2020-06-18 11:00] kudodenko commented on #134
Thanks a lot!

[2020-06-18 11:59] #61 closed

[2020-06-19 12:36] maurizio-lattuada commented on #132
Hi,
back here by trying to deploying Hazelcast as you suggested.

Just to have here the full picture:

- `hazelcast-values.yaml` file is now without the `javaopts` from the `mancenter` section:
[code]
- The configmap `hazelcast-mancenter-configmap` is
[code]

So I deployed Hazelcast chart (FYI chart version 3.4.**2**) and I got from the `mancenter` logs:
[code]

For completeness:
[code]

So, the m

[2020-06-19 14:36] leszko commented on #133
@kudodenko I created a PR to solve it (#135). In the meantime, you can install multiple Hazelcast cluster by giving a separate name for each namespace.

Btw. thanks for reporting it! 👏

[2020-06-19 20:52] kudodenko commented on #133
@leszko thanks!

[2020-06-22 08:44] #133 closed

[2020-06-23 10:59] hasancelik commented on #132
Hi @maurizio-lattuada,

I could reproduce your issue with similar setup at GKE and this looks like a bug at Management Center side. Problem is, Management Center does not include k8s discovery plugin jar at its classpath. I will check possible fixes or workarounds and keep you posted 👍

[2020-07-08 23:31] huseyinbabal opened #138 "`customVolume` is not working"
**With Helm 2;**

`customVolume` was working until [this commit](https://github.com/hazelcast/charts/commit/dec16bdecf67a282b8de4c6ef15586dc08c99b1d) and stopped working with [this commit](https://github.com/hazelcast/charts/commit/48cf211b74740d893421bb7a76cec9d7bba8aad1). You can simply verify it by;

[code]
It will throw `Error: YAML parse error on hazelcast-enterprise/templates/statefulset.yam

[2020-07-09 07:47] #138 closed

[2020-07-13 09:36] jperucha opened #140 "Management-center could not lock home directory"
Hi,

I'm deploying the Hazelcast Helm chart version 3.4.3 (https://hazelcast-charts.s3.amazonaws.com/) on an EKS Kubernetes cluster.

To avoid another issue related to adminCredentialsSecretName helm chart property I have manually created a pvc and indicated in the values of mancenter to enable persistence and use that pvc.
The first deployment of man center is working without problems, it uses th

[2020-07-16 02:41] xrow opened #142 "Setting service.nodePort ist not supported"
In this file (https://github.com/hazelcast/charts/blob/master/stable/hazelcast-enterprise/templates/service.yaml
) I would like to be able to set a static node port.

Plz add:

`  nodePort: {{ .Values.service.nodePort }}`

[2020-07-16 06:59] hasancelik commented on #142
Hi @xrow,

Good idea 👍  It would be great, if you can create a PR for it. Is it ok for you?

[2020-07-16 12:58] #142 closed

[2020-07-20 16:16] kyubisation opened #144 "Question: CPU Sizing on Kubernetes?"
According to the operations guidelines, the CPU Sizing is recommended to be 8 cores at a minimum.
How does this apply to a Kubernetes/OpenShift environment?

[2020-08-05 11:52] xrow opened #145 "Make autodiscovery work based on SVC names and/or FQDN"
Problem: If the target endpoint is set to an name based value either a FQDN or a SVC name the member autodiscovery doen work. Though it does work when using a IP based host name  target-endpoints: "XX.239.105.XX:30XXX"

The reason for this request is a simplyfied setup for HA.

[2020-08-05 12:26] xrow opened #146 "Make mancenter service type to default to ClusterIP"
This is a minor security and configuration improvement. When setting the the Service type for the mancenter to Loadbalancer it open per default a Nodeport in the firewall. This could be consired a security risk even though you can change it to ClusterIP. The request is to set the mancenter default to type ClusterIP because it is also the kubernetes default.

https://github.com/hazelcast/charts/blo

[2020-08-05 13:18] xrow opened #147 "Hazelcast operator has insufficent permissions to create ingress"
Hi,

I can tell why I am seeing those errors. Maybe it is because of a permission issue of the system:serviceaccount:openshift-operators:hazelcast-enterprise-operator. The workaround is to grant system:serviceaccount:openshift-operators:hazelcast-enterprise-operator cluster-admin permissions. I am using openshift 4.4.

[code]

[2020-08-05 14:00] xrow opened #148 "CrashLoopBackoff when metrics is enabled"
When the following config is in place:
[code]
we get this error:
[code]

[2020-08-06 07:34] hasancelik commented on #148
Hi @xrow,

I could not reproduce it with latest chart:

[code]

Could you share your values.yaml or parameters and chart version?

[2020-08-06 08:28] hasancelik commented on #146
Hi @xrow,

Thanks for pointed out. We preferred `LoadBalancer` for Management Center service because it provides ease of use when user tries to connect Management Center dashboard after chart deployment. As you said, it is configurable as well so if user wants to deploy the chart to production env or has security concerns, user can use another service type.

On the other side, using `ClusterIP` as

[2020-08-06 08:34] leszko commented on #146
I'm in line with what Hasan wrote. Meaning that we try to make the default configuration as simple as possible to the new users. So, I'd keep `LoadBalancer`.

[2020-08-06 08:48] leszko commented on #145
@xrow , target endpoint, do you mean:
- WAN Replication?
- Client Configuration?

DNS resolution works fine with the Hazelcast client. So you can put FQDN or SVC in the Hazelast client and it will successfully find the cluster.

Regarding WAN Replication, it is a general issue with Hazelcast that it does not resolve DNSes correctly. That's the related GH Issue: https://github.com/hazelcast/hazelca

[2020-08-06 08:50] leszko commented on #147
@xrow could you add the steps to reproduce the issue?

[2020-08-06 22:17] xrow commented on #146
Ok this is up to you. Please close.

[2020-08-06 22:18] xrow commented on #147
1. Installed Operator from RH's hub in OpenShift 4.4
2. Created CRD HazelcastEnterprise

[2020-08-06 22:19] xrow commented on #145
Can see hazelcast/hazelcast-enterprise#3627, but it sound like this is the one i am talking about.

[2020-08-07 06:23] #146 closed

[2020-08-07 08:32] Holmistr commented on #145
@xrow Just to make sure, so the issue is happening when you're using WAN replication?

[2020-08-07 10:30] xrow commented on #145
this is correct.

[2020-08-07 11:03] Holmistr commented on #145
@xrow I see, thank you. In that case, let me comment on it.
Working with hostnames in WAN replication is our long standing issue. However, it's not trivial at all to fix. Therefore, we are scheduling it for the next version of IMDG, which is very very roughly targeted to early Q2 2021.

[2020-08-10 09:36] hasancelik commented on #147
I have reproduced the issue at Openshift 4.3 with below `HazelcastEnterprise` CR that enables `mancenter ingress`:
[code]

I have modified the resource permission for pre-installed `Hazelcast Enterprise Operator` via `Edit ClusterVersionService` but still I am getting same error above:

<img width="1595" alt="Screen Shot 2020-08-10 at 12 32 25" src="https://user-images.githubusercontent.com/600562

[2020-08-10 11:46] leszko commented on #147
@hasancelik , not sure when these permissions are checked. In any case, I guess we'll need to fix it. I mark it as a bug and assign myself. I'll work on it.

[2020-08-10 13:02] jan530 commented on #148
I can add to @xrow as I saw the bugs:
Helm Chart Version: hazelcast-enterprise-3.2.1
Image Version 4.0-1
everything on OpenShift 4.4

Maybe it is partly fixed in the newer Image. We saw the crash loop as the jmx_prometheus_javaagent.jar was named differently as mantioned in the startup script. The binary was named jmx_prometheus_javaagent-0.11.0.jar but in the start script it was named jmx_prometh

[2020-08-11 06:14] huseyinbabal opened #149 "Management Center Cannot Recover if Hazelcast Pod IPs Change"
I deployed the Helm Chart with Hazelcast 4.0 and Management Center 4.0.3. Everything is worked, but when one of the hazelcast member changes, management center cannot recover since it tries to go old address. In `hazelcast-client.xml`, `${serviceName}` is used, most probably, the management center uses DNS cache. I restarted the management center to fix it, but this time I get `Cluster null alread

[2020-08-11 08:35] #147 closed

[2020-08-11 08:39] hasancelik commented on #147
Required permission added into operator-rbac YAML and the issue is resolved. @xrow I will ping you when new operator release is available at OperatorHub.

[2020-08-11 08:40] xrow commented on #147
Thanks

[2020-08-11 14:18] leszko commented on #148
This is the issue fixed in Docker image version `4.0.2`. That's the bug: https://github.com/hazelcast/hazelcast-docker/issues/148

Concerning the Network Policy, I guess it's not something we can change in the Helm Chart / Operator. Right @jan530 ?

[2020-08-12 09:15] jan530 commented on #148
It seems that the network policy was not created by your helm chart, it seems that one developer added this himself. Hence, this issue can be /closed :-) Thank you for your help!

[2020-08-12 09:23] hasancelik commented on #132
Hi @maurizio-lattuada,

With [Management Center 4.2020.08 release/image](https://hub.docker.com/layers/hazelcast/management-center/4.2020.08/images/sha256-b38cdc92ced1757ecd133ea9a5dd36d227a97e86177b22a495cd1ea983a889b3?context=explore), hazelcast kubernetes discovery plugin jar is included by Management Center. I have tested it locally and worked. Could you try at your setup?
[code]

[2020-08-12 09:27] leszko commented on #148
Closing. @xrow feel free to reopen if needed.

[2020-08-12 09:27] #148 closed

[2020-08-13 07:40] #149 closed

[2020-08-20 07:42] maurizio-lattuada commented on #132
Hi @hasancelik ,

thank you for your fix.

So, with the latest changes in that Management Center version you suggested me, it seems now it is working fine. Here I tried with 2 nodes in a cluster called "tomcat" (Hazelcast version 4.0.2)

Here the Management Center logs:
[code]

and here, for completeness, the logs of these 2 nodes:
* node 1 with IP address `172.24.10.74`
[code]
* node 2 with IP ad

[2020-08-20 07:56] hasancelik commented on #132
Glad to hear that 👍

[2020-08-20 07:56] #132 closed

[2020-09-04 05:34] nik048 opened #152 "[Question] How to set class path for external jars in management center"
Is there a way to set the or pass external jar as mentioned [here](https://docs.hazelcast.org/docs/management-center/latest/manual/html/index.html#starting-with-an-extra-classpath)

Need to pass the jar so mc can show it's [value](https://docs.hazelcast.org/docs/management-center/latest/manual/html/index.html#map-browser) in the ui.

Thanks

[2020-09-04 07:52] hasancelik commented on #152
Hi @nik048,

Unfortunately existing Management Center Helm templates does not support custom volumes. Hazelcast IMDG templates have it, similar approach can be apply to MC as well:
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/templates/statefulset.yaml#L106

I will check possible solutions and keep you posted.

[2020-09-06 07:40] nik048 commented on #152
Thanks @hasancelik, was able to use the same way as in statefulset.yaml!

In mc console still getting this error for viewing the values (`m.values`) even after passing the jar
`Server request error: Failed to execute console command on member 10.42.0.11:5701 from cluster dev: com.hazelcast.nio.serialization.HazelcastSerializationException: java.lang.ClassNotFoundException: com.example.springcache.

[2020-09-11 11:54] hasancelik commented on #152
Hi @nik048,

I have prepared [PR](https://github.com/hazelcast/charts/pull/155) for custom volume enhancement Management Center and its documentation. And also I have tried your scenario with this enhancement at GKE:
<img width="1006" alt="Screen Shot 2020-09-11 at 12 16 25" src="https://user-images.githubusercontent.com/6005622/92922263-35717880-f43e-11ea-89f7-afd630239f44.png">

At my first try,

[2020-09-16 11:18] leszko commented on #152
@hasancelik can we close this one?

[2020-09-16 11:23] leszko commented on #140
@jperucha could you check if the issue persists with the latest Helm Chart version `3.4.10`?

[2020-09-16 11:25] leszko commented on #120
I think the parameter still makes sense. If you set it to `false`, then MC will start from scratch every time. That may actually be good if you would like to play with Helm Chart and MC, but you don't have access to any storage.

[2020-09-16 11:25] leszko commented on #91
Close due to inactivity

[2020-09-16 11:25] #91 closed

[2020-09-16 11:26] leszko commented on #83
@adnxn are you still working on this issue?

[2020-09-16 11:29] leszko commented on #58
Let's close it when Hazelcast `4.1` is released and Helm Chart is updated.

[2020-09-16 11:30] leszko commented on #6
Is it still an issue?

[2020-09-16 11:31] hasancelik commented on #152
@leszko, actually I have re-opened it to get approval from @nik048 but I think we can close it for now. @nik048, you can re-opened the issue, if solution does not work for your setup.

[2020-09-16 11:31] #152 closed

[2020-09-16 12:38] emre-aydin commented on #120
Makes sense. Let's close the issue then.

[2020-09-16 12:38] #120 closed

[2020-09-18 01:59] adnxn commented on #83
hey i havent had time to follow up on this. if someone else wants to take it over, feel free.

[2020-09-23 11:00] jisnardo opened #157 "Adding custom JAR files to the IMDG/Management Center classpath"
Adding custom JAR files to the IMDG/Management Center classpath

Hi, sure is this feature working?

https://github.com/hazelcast/charts/tree/master/stable/hazelcast#adding-custom-jar-files-to-the-imdgmanagement-center-classpath

No success with:

[code]

[code]

[code]

[code]

Where is the append... inside docker image?

https://github.com/hazelcast/hazelcast-docker/releases/tag/v3.12.9

https://

[2020-09-23 14:25] jperucha commented on #140
Hi @leszko.
The latest hazelcast chart version available to use is 3.4.9, so i have tried with that version. I see that Hazelcast-enterprise is the chart that has 3.4.10 version available, maybe hazelcast chart is outdated compared to hazelcast-enterprise.

Either way, the result is the same. I imagine logging was improved as it is now more verbose, but the error is still the same as it was 2 mont

[2020-09-23 14:39] jperucha opened #158 "Management-center admin user already exists error"
Whenever I set up the helm chart property `mancenter.adminCredentialsSecretName` and the pod recreates after a failure, the following pods recreations will fail on a crash loop back due to the following error.
This error happens without mancenter persistence enabled.

[code]

Would it be a way to tell mancenter to skip this error as the user is already created?

[2020-09-23 18:07] martonsz opened #159 "Use Role instead of ClusterRole"
Is it possible to not use a cluster wide RBAC configuration?
If it is possible. Can it be a option in the `values.yaml`?

I am using a hosted kubernetes where I don't have permission to create cluster-wide Roles limited to two namespaces.

I have successfully installed the [Hazelcast](https://github.com/hazelcast/charts/tree/master/stable/hazelcast) chart by modifying the generated `role.yaml` and

[2020-09-24 08:29] leszko commented on #159
One option to solve such issues is to set `rbac.create` to `false` and use [Hazelcast Kubernetes: DNS Lookup]([url](https://github.com/hazelcast/hazelcast-kubernetes#dns-lookup))

Saying that I'm fine to add an option to create Role instead of `ClusterRole` for the scenarios you mention. You can contribute a PR if you want. I'd see it something like `rbac.clusterRole` with the default to `true`.

[2020-09-24 08:33] leszko commented on #158
@hasancelik could you check this?

[2020-09-24 08:33] leszko commented on #157
@hasancelik could you check this?

[2020-09-24 08:33] leszko commented on #140
@hasancelik could you check this?

[2020-09-24 12:48] martonsz commented on #159
I have tried setting `rbac.create: false` and used the DNS lookup. But then I get the following problem https://github.com/hazelcast/hazelcast/issues/17062. Which seems to be fixed in a coming version https://github.com/hazelcast/hazelcast/pull/17239.

I have now been told by my kubernetes provider that `nodes` is a cluster-wide resource. That is why it needs to be a `ClusterRole` instead of a `Ro

[2020-09-24 13:37] martonsz commented on #159
My workaround for now is to use `rbac.create: false` and create a new `Service` (that is not headless) that the clients can use.
Now my clients can automatically reconnect if the hazelcast server changes IP.

[code]

[2020-09-24 13:43] leszko commented on #159
Glad to see you found a workaround.

And cluster-wide rbac is needed only to support ZONE_AWARE feature (to query node about its availability zone).

[2020-09-25 06:56] martonsz commented on #159
Thank you for the answer @leszko!
I will close this issue now that I know enough about why ClusterRole is necessary.

[2020-09-25 06:56] #159 closed

[2020-09-28 13:02] jisnardo commented on #157
Docker reference:

https://github.com/hazelcast/hazelcast-docker#extending-hazelcast-base-image

[2020-09-30 13:57] letmagnau opened #161 "Cannot start only management service"
Hi I've a K8 cluster and embedded in my application I use hazelcast with Hibernate53

if I run in docker all goes ok only starting  a managment hazelcast as image

with this chart ., it will always start a statefulset app trying to find the pod the he want to create
but I want only the management cluster

There is a way to start only the management ? I create a custom service  on 5701 managed by m

[2020-09-30 14:27] hasancelik commented on #161
Hi @letmagnau,

Management center only deployment is not possible for now. I think, we can add `enabled` parameter for Hazelcast IMDG like we did for MC:
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/values.yaml#L203
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/templates/mancenter-statefulset.yaml#L1

It would be great, if you can create a PR for this enhance

[2020-10-02 08:04] leszko opened #162 "Make clusterIP automatically null if serviceType is different than `clusterIP`"
If you configure in `values.yaml`, the parameter `service.type` to anything other than `clusterIP`, then `service.clusterIP` should automatically be set to null (or empty string) instead of the default value `None`.

[2020-10-06 11:43] hasancelik commented on #157
Hi @jisnardo,

For Management Center, `2.10.x` charts that utilizes `IMDG/MC 3.12.x` do not have support this feature. You need to install 3.4.8+ chart to use the feature, as far as I can see, you have already tried with that.

For IMDG, both versions should work.

About your path related questions,

you are checking correct path(`/data/custom`). It is configured at helm-chart side like below:

[c

[2020-10-06 12:42] hasancelik commented on #158
Hi @jperucha,

I have reproduced the issue at my GKE cluster easily. Currently, I am discussing the possible solutions with Management Center team. I will keep you posted.

[2020-10-07 06:36] hasancelik commented on #158
@jperucha [the fix](https://github.com/hazelcast/management-center-docker/pull/42) merged into master branch at managment-center-docker repo so `latest` tag contains it:
https://hub.docker.com/repository/docker/hazelcast/management-center

Next management center release(`4.2020.09`) will be released very soon then we will update management center version at our helm charts. Until that moment, you

[2020-10-07 06:36] #158 closed

[2020-10-07 06:43] emre-aydin commented on #158
@jperucha just to clear any confusion, the next release will be named `4.2020.10` since we needed to postpone the release into October.

[2020-10-15 11:23] jisnardo commented on #157
Ok for 3.4.8+ chart

[2020-10-15 11:23] #157 closed

[2020-10-23 14:21] maurizio-lattuada opened #165 "Make service port name customizable in the Helm chart for better Rancher compatibility"
I'm using Hazelcast as Tomcat session manager for some web applications deployed in a Kubernetes cluster managed by Rancher. I'm using the chart version 3.4.1.

In Rancher it is possible to have integrated Prometheus monitoring by adding some annotations to the Deployment, e.g.
[code]
so, with some _black magic_, the internal Rancher monitoring is able to scrape these metrics.

As far as I observe

[2020-10-26 07:17] hasancelik commented on #165
Hi @maurizio-lattuada,

I think it would be great enhancement for our charts. Do you want to create PR for this enhancement?

[2020-10-26 08:22] maurizio-lattuada commented on #165
Yep, working on it 👍

[2020-10-28 08:32] jisnardo opened #167 "question: Is there any way to deploy mancenter alone?"
Hi, Is there any way to deploy mancenter alone?

Something like:

https://github.com/hazelcast/charts/blob/master/stable/hazelcast/values.yaml#L204

But at hazelcast part.

https://github.com/hazelcast/charts/blob/master/stable/hazelcast/values.yaml#L26

Thanks.

[2020-10-28 08:58] hasancelik commented on #167
Hi @jisnardo,

It was requested before at https://github.com/hazelcast/charts/issues/161. Adding `enabled` parameter for Hazelcast IMDG is best solution we have for now, as you already mentioned it.

Could you create a PR for it?

BTW, I am closing this one because it is duplicate of #161. If you want to implement this enhancement, I will assign #161 to you.

[2020-10-28 08:58] #167 closed

[2020-10-28 09:08] jisnardo commented on #167
Thanks!

[2020-10-28 13:37] jisnardo commented on #167
Here is the pr https://github.com/hazelcast/charts/pull/168

[2020-10-28 13:40] jisnardo commented on #161
Here is the pr https://github.com/hazelcast/charts/pull/168 @hasancelik

[2020-10-28 13:56] hasancelik commented on #161
Great, thanks for the PR @jisnardo 👍

[2020-10-29 18:01] hasancelik commented on #161
fixed by https://github.com/hazelcast/charts/pull/168

[2020-10-29 18:01] #161 closed

[2020-11-05 13:03] #165 closed

[2020-11-06 11:59] leszko commented on #58
Fixed by #170

[2020-11-06 11:59] #58 closed

[2020-11-25 23:12] martinmares commented on #140
Helm chart 3.5.0 is affected with same "mystic" error:

[code]
Try downgrading to chart version 3.4.14 same error:

[code]

Try downgrading to chart version 3.2.1 another error:

[code]
**Problem is propably with this PVC storage, which has unnecessary file "mc.lock":**

[code]

After delete this PVC:

[code]
And installing helm chart version 3.5.0

**Everything is ok:**

[code]

[code]

[2020-11-26 09:36] leszko commented on #140
Thanks for the comment @martinmares .

@jperucha does it solve your issue?

[2020-11-26 11:15] jperucha commented on #140
@leszko The issue is triggered whenever k8s has to recreate mancenter pod for whatever reason, there is no need for human interaction (f.e, chart upgrading) for the issue to appear.
The case @martinmares presents only shows that deleting the pvc will make the chart installation or upgrade work, but it does not show that mancenter pod recreation is going to work if the PVC is not deleted. And to do

[2020-11-26 13:40] martinmares commented on #140
Yes, this is true, "my solution" is only workaround. The script should do this automatically, if I upgrading helm chart.

[2020-12-04 09:08] huseyinbabal opened #171 "mc.conf path needs to be changed for new MC versions"
I am using `MC 4.2020.11-BETA-2` with `HZ 4.1` for hazelcast helm chart and get following;

[code]

[This part](https://github.com/hazelcast/charts/blob/08e970a5ec6c50c8dc3859c1a5983b309de47f47/stable/hazelcast-enterprise/templates/mancenter-statefulset.yaml#L146) should be changed in new chart since they moved `mc-conf.sh` path under `./bin` folder

[2020-12-04 13:22] #171 closed

[2020-12-08 10:39] hasancelik commented on #140
Hi @jperucha and @martinmares ,

We have already created related issue at Management Center repo, as you can see above. This enhancement probably solve the issue you encountered. But I could not reproduce the issue at EKS and GKE with `hazelcast/hazelcast 3.5.0`, here is the my steps for EKS:

1. Create PVC manually:
[code]
2. Deploy the chart:
[code]

3. Restart MC pod:
[code]

To check possible

[2020-12-12 11:10] jerrinot opened #173 "Use JFrog repository with hazelcast.com domain"
instructions says this `helm repo add hazelcast https://hazelcast-charts.s3.amazonaws.com/`
we should explore how to have a repository on a nicer and more official-looking URL. something like `https://helm.hazelcast.com` or `https://helm.repository.hazelcast.com`.

@alparslanavci is working on Bintray migration so perhaps the new repo could be used for Helm chart hosting too?
Obviosly we would hav

[2020-12-14 07:23] hasancelik commented on #173
If we can provide healthy redirection mech from s3 to JFRog, having a official-looking URL would be good. Otherwise, we need to do so much documentation/README update :)

We moved our chart repo from github to s3 to get metrics about their traffic so @alparslanavci can community metrics tool get some traffic info from JFrog?

[2020-12-14 09:36] huseyinbabal opened #174 "Upgrade default MC to stable version (4.2020.12)"
Beta version of MC is being used within the chart, we need to use stable one which is `4.2020.12`

[2020-12-14 09:52] huseyinbabal commented on #174
@leszko @hasancelik could you please tell me, do I need to upgrade `HZ 4.1`, `MC 4.2020.12` for all the chart values?

[2020-12-14 09:55] hasancelik commented on #174
@huseyinbabal the IMDG charts are already using 4.1 so you can just update MC tag/version at values.yamls?
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/values.yaml#L222
https://github.com/hazelcast/charts/blob/master/stable/hazelcast-enterprise/values.yaml#L255

[2020-12-14 09:56] huseyinbabal commented on #174
Understood, what about jet charts?

[2020-12-14 10:00] hasancelik commented on #174
@huseyinbabal As far as I can see, they are still using JET specific management center, updating it from 4.3 to directly 4.2020.12 might cause some issues so manual testing might be required. cc: @frant-hartm

[2020-12-14 10:42] #174 closed

[2020-12-14 12:08] jperucha commented on #140
Hi @hasancelik

Your response is the normal/good flow i should have gotten the first time I tried to use a pvc to store all mancenter info, including credentials as this method was used to try to workaround the other issue i opened and that it is already fixed.

I have replicated the same steps that caused the issue in first place (almost the same steps that you have taken) and found that now the

[2020-12-14 12:08] #140 closed

[2020-12-29 11:44] leszko opened #176 "Update hazelcast/hazelcast-enterprise with CP Subsystem Persistence"
To use the CP Subsystem in Kubernetes, we need to enable CP Subsystem Persistence (Enterprise Feature). There should be an option for this in the Hazelcast Enterprise Helm Chart.

[2021-01-04 15:17] alparslanavci commented on #173
JFrog Artifactory has a Helm repository option, but IMO it will be better if we can keep s3 and do a re-direction with something like `helm.hazelcast.com`. This way, we won't need any changes in metrics collection.

@hasancelik wdyt?

[2021-01-04 16:55] jerrinot commented on #173
will the helm client follow the redirect?

[2021-01-04 17:06] alparslanavci commented on #173
@hasancelik will know it better, but if we migrate to Artifactory, it has already a re-direction at `repository.hazelcast.com`.

[2021-01-04 17:18] jerrinot commented on #173
Is it a redirection (HTTP 301 or 302) or just a CNAME record in DNS? The former requires a cooperation from clients. The later is transparent (done in DNS resolver)

[2021-01-04 17:20] alparslanavci commented on #173
It is the second (CNAME record in DNS) for `repository.hazelcast.com`.

[2021-01-04 17:22] jerrinot commented on #173
ok, that should work with all clients. one just have to be carefully with certificates.

[2021-01-05 07:59] hasancelik commented on #173
@alparslanavci I have checked the [official doc](https://docs.aws.amazon.com/AmazonS3/latest/dev/VirtualHosting.html#VirtualHostingCustomURLs), adding CNAME record in DNS is enough. As @jerrinot mentioned, old URL will continue to work for helm clients.

[2021-01-24 10:21] andrey-gava opened #186 "Write how to setup dns discovery in Readme file"
Hello!

Despite fixed bug mentioned in #58 I still cant figure out how to make it work.
I tried to install last available chart version 3.5.4 with all default values except that I edited provided values.yaml
and set it like this
[code]
but hazelcast  pods trow the same error in logs:
`Exception in thread "main" com.hazelcast.config.InvalidConfigurationException: The configuration entry under hazel

[2021-01-25 10:24] leszko commented on #186
I update README in #187

Btw. here's the configuration you need:
[code]

[2021-01-25 12:15] #186 closed

[2021-02-03 17:39] jisnardo opened #192 "Question: ConfigMap Hazelcast configuration file(s) for v4.1.1"
Hi, I'm using this two hazelcast helm charts:

[code]

Inside the values I have this:

[code]

[code]

[code]

[code]

After install everything works as expected but for:

[code]

The cluster name is created as **dev** not as **hz4MYAPP**.

mancenter:

https://mancenter-hz4.domain.com/**dev**/members

[code]

mancenter:

https://mancenter-hz3.domain.com/hazelcast-mancenter/**hz3MYAPP**/members

[c

[2021-02-04 08:29] jisnardo commented on #192
Hi, I've found the answer:

Question: Group Password #14082

https://github.com/hazelcast/hazelcast/issues/14082

JuKu commented on Nov 8, 2018

Why was the group password removed?
And how can i secure my hazelcast cluster now? Is there a new type of authentification / cluster password?

Improve group password configuration #11667

https://github.com/hazelcast/hazelcast/issues/11667#issuecomment-4

[2021-02-04 09:18] hasancelik commented on #192
@jisnardo glad to hear that 👍 if it is ok for you, I am closing the issue?

[2021-02-04 09:21] jisnardo commented on #192
Yes! Thanks @hasancelik

[2021-02-04 09:21] #192 closed

[2021-02-23 14:47] Yomanz opened #196 "Changing management center service type to ClusterIP breaks it"
When I change the `type` from `LoadBalancer` to `ClusterIP` it gives this error.
## Command:
[code]
## Error:
[code]

## Custom Values:
`mancenter.service.type: ClusterIP`

[2021-02-24 08:21] hasancelik commented on #196
Hi @Yomanz,
I have tried to reproduce your issue via below command:
[code]
But I could not see any issue:
[code]

Could you share full version of your `values-hazelcast-3.6.1-latest-snapshot.yaml` file? It would be very beneficial to understand the issue.

[2021-02-25 18:41] justinrush opened #199 "expose service annotations"
Right now I have to use a post-install helm hook and wrap the chart to do this, so it would be great if this was exposed by default as seems to be the norm.

two use cases:
* setting external dns name annotation
* setting IP pool annotation

typical way is something like this in the values.yaml:
[code]

and then the person deploying can decide to annotate or not.

[2021-02-26 07:21] leszko commented on #199
Good idea! @justinrush Would you like to send a PR?

[2021-02-26 09:12] hasancelik commented on #199
Hi @justinrush,

Management Center service already has configurable annotations so you can check it as a starting point:
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/values.yaml#L332
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/templates/mancenter-service.yaml#L5-L7

[2021-03-04 16:03] #199 closed

[2021-03-10 14:41] jisnardo opened #202 "Question: Hazelcast IMDG open source edition v4.1.1 CP Subsystem Kubernetes"
Hi,

according to:

https://docs.hazelcast.com/imdg/latest/#hazelcast-imdg-editions

[code]

Does Hazelcast IMDG open source edition offers CP Subsystem Persistence or only CP Subsystem with no persistence option?

I was able to use CP Subsystem for:

https://github.com/hazelcast/charts/tree/master/stable/hazelcast

[code]

Later I've found this:

Verify CP Subsystem usage on Kubernetes #262

http

[2021-03-10 15:19] leszko commented on #202
Hazelcast Open Source offers CP Subsystem, but without persistence. You need Hazelcast Enterprise for the CP Subsystem Persistence.

[2021-03-10 15:33] jisnardo commented on #202
As expected:

[code]

Thanks @leszko.

[2021-03-10 15:33] #202 closed

[2021-03-11 09:51] leszko opened #203 "Fix or document `forbidden: unable to validate against any security context constraint`"
In OpenShift (and IBM Cloud) environments, the projects/namespaces may be limited to the certain range of user ids. Then,l installing the helm chart results in the following error.
[code]

We should do the following:
1. Check what other Helm Charts do in such scenarios
2. Find a solution to fix the Helm Chart
3. If not possible, then at least document what to do in such scenarios

[2021-03-14 23:44] wildnez opened #205 "Fix management-center label value for helm charts"
Currently the default value of mancenter metadata label is too large to cause deployment failure with error similar to the below:

create Pod rahul-march15v2-helm-dep-hazelcast-enterprise-mancenter-0 in StatefulSet rahul-march15v2-helm-dep-hazelcast-enterprise-mancenter failed error: Pod "rahul-march15v2-helm-dep-hazelcast-enterprise-mancenter-0" is invalid: metadata.labels: Invalid value: "rahul-

[2021-03-14 23:50] wildnez opened #206 "More pods than default clusterMemberCount"
The default count of cluster members is 2 (as per the documentation here: https://github.com/hazelcast/charts/tree/master/stable/hazelcast-enterprise) but the deployment creates 3 IMDG pods. Here is the install command:
helm install rahul-march15v2-helm-dep --set hazelcast.licenseKey="LICENSE_KEY" --set securityContext.runAsUser=1000560000,securityContext.runAsGroup=1000560000,securityContext.fsGr

[2021-03-23 10:09] andrey-gava opened #210 "Cant deploy if hazelcast.loggingLevel set"
hazelcast.loggingLevel=DEBUG

Error within pod:
`sed: can't create temp file 'logging.propertiesXXXXXX': Read-only file system`

Its related to securityContext.readOnlyRootFilesystem that set by default to true.

[2021-03-23 10:49] andrey-gava opened #211 "add description on service.name key"
service.name value is misleading. When deploy with it chart still use templated full name from _helpers.tpl
It will only work if two condition are met:
1 service.create=false (so its need that service exist at this point)
2 service.name value are set and not null

Examples:
[code]
----------------
[code]
----------------
[code]

[2021-03-23 11:04] #203 closed

[2021-03-24 08:35] leszko commented on #210
Which Helm Chart / Docker image do you use? I guess it should not be an issue with the latest one.

[2021-03-24 08:36] leszko commented on #211
Good point, would you mind sending a PR to improve the description?

[2021-03-26 09:42] andrey-gava commented on #210
Chart 3.6.2
Docker image 4.0.2

[2021-03-26 11:05] andrey-gava commented on #211
Try to add pr #212 but as I new to github I do some mistakes in set email of user. I hope you see the point.

[2021-04-06 06:44] leszko commented on #211
Fixed in #213

[2021-04-06 06:44] #211 closed

[2021-04-12 09:45] jisnardo opened #215 "Question: Management Center > Upload Cluster Config > Server request error: Invalid client configuration."
Hi,

with **Management Center Version 4.2020.12** there is no way to Upload Cluster Config.

Server request error: Invalid client configuration.

[code]

[code]

[code]

[code]

[code]

What is the correct way?

https://docs.hazelcast.com/management-center/4.2020.12/managing-clusters.html

Thanks in advance.

[2021-04-12 13:52] yuraku commented on #215
Hi @jisnardo.
Could you try these:
[code]

 and this:
[code]

[2021-04-12 15:20] jisnardo commented on #215
Thanks @yuraku, https://github.com/hazelcast/hazelcast/blob/master/hazelcast/src/main/resources/hazelcast-client-full-example.yaml#L774 does the trick.
Maybe the **Example hazelcast-client.xml file** at https://docs.hazelcast.com/management-center/4.2021.03/managing-clusters.html shoud be checked @leszko.
Thanks.

[2021-04-12 15:20] #215 closed

[2021-04-14 09:31] leszko commented on #210
I checked the latest version and it worked for me.
[code]

If it doesn't work, then it may be related to your k8 environment. You can also try setting the security context like this.
[code]

[2021-04-15 08:51] erosb commented on #140
Hello, we added a system property for disabling the lock file check, [here is the documentation PR](https://github.com/hazelcast/management-center-docs/pull/36/files).

[2021-04-15 09:20] hasancelik commented on #140
great, thanks guys 👍 @erosb @emre-aydin

Will it be released with the upcoming release(4.2021.04)?

[2021-04-15 09:54] erosb commented on #140
Yes, it will be in 4.2021.04.

[2021-04-29 21:00] mraslam opened #221 "Error when using the helm chart in terragrunt module helm_release"
Error: YAML parse error on hazelcast/templates/tests/.terragrunt-source-manifest: error converting YAML to JSON: yaml: invalid leading UTF-8 octet

[2021-04-30 09:32] hasancelik commented on #221
Hi @mraslam,

Could you provide more informations about your setup and deployment steps?

[2021-04-30 09:37] hasancelik commented on #206
fixed by https://github.com/hazelcast/charts/commit/23fcf151da5a4d7b10242cb3e03872e2c79c4c51

[2021-04-30 09:37] #206 closed

[2021-04-30 09:41] hasancelik commented on #196
Closing... @Yomanz feel free to reopen if needed.

[2021-04-30 09:41] #196 closed

[2021-05-11 09:19] #162 closed

[2021-06-21 08:39] dontbro opened #227 "Exposing each pod through a loadbalancer for external calls"
Allows deploying hazelcast in kube with clients outside of kube.
Each pod need to be callable directly by clients.

[2021-06-21 09:14] dontbro commented on #227
I need permission to push a new branch and do a PR

[2021-06-21 09:34] leszko commented on #227
If  you want to send a PR, please fork the repo and send a PR from your fork. Thanks!

[2021-07-08 01:59] megaterrarc opened #230 "mancenter.persistence.storageClassName"
Include property mancenter.persistence.storageClassName

[2021-07-08 06:29] hasancelik commented on #230
Hi @megaterrarc,

`storageClassName` is already configurable for Management Center, please check:
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/values.yaml#L329
https://github.com/hazelcast/charts/blob/master/stable/hazelcast/templates/mancenter-statefulset.yaml#L206

I am closing this issue, feel free to reopen if needed.

[2021-07-08 06:29] #230 closed

[2021-07-08 15:07] megaterrarc commented on #230
Hi @hasancelik,

Really. Properties Update Readme.

  https://github.com/hazelcast/charts/tree/master/stable/hazelcast

![image](https://user-images.githubusercontent.com/9610355/124946008-08054500-dfe5-11eb-996e-022bb42d3cb9.png)

[2021-07-09 09:07] hasancelik commented on #230
fixed by https://github.com/hazelcast/charts/commit/9a9a4a2343ec3df1f4509790da8070031be00f1d

Thanks for your report @megaterrarc 👍

[2021-07-14 11:08] robinroos opened #231 "Gett"
I installed Hazelcast Management Center (only) using a version of this helm chart some time back.  I believe the installed versions were:

Hazelcast Management Center 4.2020.12, Jet client 4.3-with-IMDG-4.1, Hazelcast client 4.1

I deploy my cluster separately, and that is now using Hazelcast (Jet) 5.0-SNAPSHOT.

I am trying to re-install Management Center (technical issues on my side), and hope t

[2021-07-15 07:18] leszko commented on #231
You can install 5.0-SNAPSHOT. Hazelcast and MC 5.0 are mostly backwards-compatible with 4.x, so the Helm Chart should work correctly.

Closing, reopen if needed.

[2021-07-15 07:18] #231 closed

[2021-07-15 08:19] robinroos commented on #231
How can I use this helm chart to install MC 5.0-SNAPSHOT ?

[2021-07-15 08:20] leszko commented on #231
I think that yes.

[2021-07-15 08:23] robinroos commented on #231
Do I have to pass something to --set ?

[2021-07-15 08:28] robinroos commented on #231
e.g. --set-string image.tag="5.0-SNAPSHOT" ?

[2021-07-15 09:15] GoatMasterXI opened #232 ".SST Files"
Hi
I have the issue with a lot of .sst files filling the */metrics/datapoints/ from the pod of hazelcast.

`[root@kuber01d datapoints]$ pwd
/var/lib/kubelet/pods/dc5f6ab7-2905-45fb-97ae-5b2d79ab265a/volumes/kubernetes.io~csi/pvc-f27f201b-645e-4cdc-884b-4f866596ce7a/mount/metrics/datapoints
[root@kuber01d datapoints]$ la
total 5,6G
4,0K drwxrwsr-x. 2 65534 65534 4,0K jul 12 13:33 ./
4,0K drwxrwsr-x

[2021-07-15 12:28] leszko commented on #232
@GoatMasterXI I couldn't reproduce the issue. Could you write here the steps to reproduce?

[2021-07-19 11:02] GoatMasterXI commented on #232
Can you please give me an answer to the following questions?
1-What are these files?
2-What happens if they are erased ?
3- Is there any maintenance to delete them?

[2021-07-20 05:07] erkangurgen opened #233 "Sidecar container support"
Having sidecar container support will be useful for many use cases, such as log watchers, monitoring agents and so on. One sample use case can be found here, https://kubernetes.io/docs/concepts/cluster-administration/logging/#sidecar-container-with-logging-agent.

[2021-07-20 09:54] #233 closed

[2021-08-05 09:51] sprehn opened #236 "Ability to add additional environment variables"
Current helm chart does not allow us to add additional environment variables, which we would like to use to pass db credentials for example. DB connection is required for pass through mode.

[2021-08-06 08:47] #236 closed

[2021-09-20 11:16] jcgarciam-signavio opened #241 "JAVA_OPTS is not reflecting the value from `hazelcast.javaOpts`"
I am using this Helm Chart as a dependency to my application via the `requirements.yaml` as:
[code]

In my default **values.yaml** I have  the following:
[code]
And I am testing the template via cli with:
`helm template ./ -f values.yaml`

But the resulted template is not showing the **foo** value but just the following:

[code]

Can you please advice why is not working?, I would like to connect w

[2021-09-29 09:11] hasancelik commented on #241
Hi @jcgarciam-signavio,

I have tried to reproduce your `javaOpts` issue with similar command but I could not:

[code]

[2021-09-29 10:20] jcgarciam-signavio commented on #241
@hasancelik executing the `helm template` against `stable/hazelcast` seems to work, however when using the chart as a dependency (as I explained above) seems to not work.

[2021-09-30 09:22] hasancelik commented on #241
@jcgarciam-signavio I created sample `dep` chart and added hazelcast chart into it as a dependency.

<img width="400" alt="Screen Shot 2021-09-30 at 12 15 36" src="https://user-images.githubusercontent.com/6005622/135424497-139bae18-2e90-4849-8270-ecf559d8153a.png">

[code]

If you want to pass parameters to the subchart(hazelcast), you need to put one more `hazelcast` word into your command or la

[2021-09-30 09:34] jcgarciam-signavio commented on #241
@hasancelik I feel stupid now, Thanks for pointing it out my mistake!!!,  It works as expected.

I am closing this issue.

[2021-09-30 09:34] #241 closed

[2021-10-02 14:47] MABIY opened #243 "hazelcast-mancenter CrashLoopBackOff"
NAME                                   READY   STATUS             RESTARTS      AGE
pod/my-release-hazelcast-0             1/1     Running            0             15m
pod/my-release-hazelcast-1             1/1     Running            0             14m
pod/my-release-hazelcast-mancenter-0   0/1     CrashLoopBackOff   5 (19s ago)   4m14s

[2021-10-05 09:31] #243 closed

[2021-10-12 08:16] sgandon commented on #83
any news on this ?
is the liveness recommandation still `/health`
and readiness recommandation still `/health/node-state` ?
Do you confirm that the /health/node-state will respond 200 after having at least tried to join other pods at least once ?

[2021-10-19 19:52] IreneGhafari-TomTom opened #245 "Adding custom JAR file to the Management Center classpath"
Hi,

I am using Helm version ```3.7.4``` for setting up hazelcast and mancenter.

From the management center SQL browser and Map browser I got error: ```java.lang.ClassNotFoundException```

To solve this for the management-center, I created a custom Dockerfile that extends the 4.2021.04 version, and copied the jar file to the image and set the env variable ```MC_CLASSPATH``` like below:

[code]

B

[2021-10-22 13:23] huseyinbabal opened #246 "Add loadBalancerIP option for management center loadbalancer"
I want to add `loadBalancerIP` to management center loadbalancer so that I can access management center via dedicated ip

[2021-10-22 14:57] #246 closed, assigned to huseyinbabal

[2021-10-26 07:48] huseyinbabal opened #249 "Add loadBalancerIP option for metric service loadbalancer"
I want to add loadBalancerIP to metric service loadbalancer so that I can access metrics via dedicated ip

[2021-11-08 11:09] nosan opened #253 "`HZ_LICENSEKEY` should not be defined if `hazelcast.licenseKey` and `hazelcast.licenseKeySecretName` are not defined"
In Cloud, we are currently testing `nlc` image and we found an issue:
[code]

This happened because of the empty env variable `HZ_LICESENKEY`.

[2021-11-08 11:40] hasancelik commented on #253
related to https://github.com/hazelcast/hazelcast/issues/19849

[2021-11-08 11:51] #249 closed

[2021-11-09 10:47] #253 closed

[2021-11-16 13:30] APIANT commented on #232
v5.0.2 of the management center reportedly fixes this: https://github.com/hazelcast/hazelcast/issues/19851

[2021-12-22 16:04] cskinfill opened #265 "update chart to for log4shell"
Please update the base chart to use an image that is not vulnerable to log4shell

At this time, I believe 5.0.2 is NOT vulnerable.

https://support.hazelcast.com/s/article/Security-Advisory-for-Log4Shell

[2021-12-22 16:05] cskinfill opened #266 "Add labels to all resources"
Please add a way to add additional labels to all the resources, including the pods, statefulset, services, etc.

[2021-12-23 07:38] hasancelik commented on #265
Hi @cskinfill,

Thanks for the heads up. I have created PR that upgrades Hazelcast and Management Center.

[2021-12-27 07:33] #265 closed

[2022-03-02 17:08] seanmalloy opened #272 "Ability To Create a PodDisruptionBudget"
From what I can tell the Hazelcast helm chart does not have an option to create a [k8s PodDisruptionBudget](https://kubernetes.io/docs/concepts/workloads/pods/disruptions/) for the HazelCast pods. I searched open and closed issues and pull requests and did not see any mention of this.

This would be really helpful to improve the availability of the HazelCast cluster(pods) especially when node patc

[2022-03-03 21:44] jeusdi commented on #152
I'm getting a similar issue.

My helm values:

[code]

Complete log message: `kubectl logs -f hazelcast-external-0`:

[code]

My jar is present into `/data/custom` and also my class is presnet inside this jar.

However, I'm getting `ClassNotFoundException: me.jeusdi.fhir.hazelcast.model.Practitioner`.

Any ideas?

[2022-03-07 21:13] jeusdi opened #273 "mancenter serialization configuration ignored"
I've created this `hazelcast` configuration into my `mancenter` on `/config/hazelcast-client.yaml`:

[code]

This is my mancenter log:

[code]

Problem arises, when I'm trying to explore any `Map`. I'm getting:

   "message":"Server request error: Failed to deserialize map entry. Make sure that you use a client config file with relevant serialization configuration for your cluster client config. E

[2022-03-24 15:39] brettcurtis commented on #145
Any update on this? I'd like to use a DNS name in my helm chart for

`hazelcast.yaml.hazelcast.wan-replication.wanPublisherRegional.batch-publisher.regional-publisher.target-endpoints`

[2022-03-24 15:56] Holmistr commented on #145
@brettcurtis Actually yes! In recently released Hazelcast Platform 5.1, we've done many improvements with the usage of hostnames, especially around WAN replication. Could you give it a try and see if it works for your usecase? Hopefully it should.

[2022-03-30 18:40] KosShutenko opened #278 "Issue with installation via FluxCD"
I can install hazelcast via _helm install_ command, but cannot via FluxCD.
When I am trying to install hazelcast via HelmRelease in FluxCD I am getting the following error:
[code]
I have the following  HelmRelease:
[code]
If I set `securityContext.enabled: false` installation will be completed but mancenter cannot be running because of error with mounting `/data` folder:
[code]

Issue in `mancente

[2022-05-04 11:15] martonsz commented on #278
I'm having the same issue when trying to build with Kustomize.

The following doesn't work:

[code]

[code]

If I set `securityContext.enabled: false` it works:

[code]

[code]

## Versions

Chart version: 5.4.0
Kustomize: {Version:kustomize/v4.5.4 GitCommit:cf3a452ddd6f83945d39d582243b8592ec627ae3 BuildDate:2022-03-28T23:12:45Z GoOs:linux GoArch:amd64}
Helm: version.BuildInfo{Version:"v3.8.2", Gi

[2022-05-10 20:53] sumnerib opened #280 "Change 'hotRestart' parameters to 'persistence'"
I suggest changing the `hotRestart` parameter names to `persistence` to be consistent with the [changes in Hazelcast 5](https://docs.hazelcast.com/hazelcast/5.0/release-notes#api-changes). The following are the parameters that should be changed (all that I'm aware of):

* hotRestart.enabled
* hotRestart.existingClaim
* hotRestart.accessModes
* hotRestart.size
* hotRestart.hostPath

[2022-06-14 07:55] hudi1 opened #282 "How to set class-cache-mode OFF in user-code-deployment"
When I try:

  yaml:
    hazelcast:
      ...
      user-code-deployment:
        enabled: true
        class-cache-mode: OFF
        provider-mode: LOCAL_AND_CACHED_CLASSES

I got exception:

false is not a valid enum value

with value ETERNAL it works. I think there is bug which convert OFF value to boolean

[2022-07-01 09:19] Marley0000 opened #285 "add prometheusrule to the chart"
Is it possible to add prometheusrule to create alert based on the metrics in prometheus.

Thanks

[2022-07-09 12:18] martonsz commented on #278
This is still an issue!

Now using chart version 5.4.2

kustomize version
{Version:kustomize/v4.5.5 GitCommit:daa3e5e2c2d3a4b8c94021a7384bfb06734bcd26 BuildDate:2022-05-20T20:25:40Z GoOs:linux GoArch:amd64}

helm version
version.BuildInfo{Version:"v3.9.0", GitCommit:"7ceeda6c585217a19a1131663d8cd1f7d641b2a7", GitTreeState:"clean", GoVersion:"go1.17.5"}

Client Version: version.Info{Major:"1", Mino

[2022-07-15 09:46] joscabmar commented on #221
Can you check if you are escaping the config properly for your values? I had to do the following with the config:
[code]
Please, notice the escaping syntax.

[2022-07-15 09:47] joscabmar commented on #285
I would also like something like this. If I had time and I develop it, I will submit my PR.

[2022-07-19 13:16] SemihBKGR commented on #282
Hi @hudi1

When you declare class-cache-mode property without quote character like this:

[code]

It causes that the type of this value is interpreted as boolean, but it is assumed to be in string type. So, you must wrap 'OFF' by quote characters to define the value in string type.

Your configuration should be like this:

[code]

[2022-07-25 07:53] SemihBKGR commented on #278
Hi @KosShutenko, @martonsz
Thanks for the issue.

I have changed the related part of the code that cause this error.
Simply put, duplicated fields in yaml file lead to error in kustomize.
#286

Now, it should be fixed.

[2022-07-25 08:17] #278 closed

[2022-07-25 09:20] #282 closed

[2022-07-26 09:47] SemihBKGR commented on #272
Hi @seanmalloy
Thanks for the proposal.

I have created a PR of this feature.
#287

[2022-07-26 13:31] SemihBKGR commented on #285
Hi @Marley0000
Thanks for the heads up. It think it would be good to support PrometheusRule.

[2022-07-26 13:33] SemihBKGR commented on #285
Hi @joscabmar
It would be great. I am waiting your PR for this enhancement.

[2022-07-27 10:39] SemihBKGR commented on #266
Hi @cskinfill
Thank for the proposal. I have created a PR for this enhancement.
#296

[2022-08-01 10:38] #266 closed

[2022-08-03 07:42] #285 closed

[2022-08-04 09:59] mizbahcelik commented on #245
Hi @IreneGhafari-TomTom  ,
I tried your custom Dockerfile and got the same error on SQL Browser.
Addding my custom jars to hazelcast together with management-center solved the problem.
I used command taken from https://hub.docker.com/r/hazelcast/hazelcast under title “Extending CLASSPATH with new jars or files”.
`docker run -p 5701:5701 -e CLASSPATH="/opt/hazelcast/CLASSPATH_EXT/*" -v <MY_DIR_PATH

[2022-08-16 13:24] #227 closed

[2022-08-23 12:51] stockersky opened #304 "Ingress with Prefix path : css and js files not found"
I am trying to install Hazelcast with this Helm Chart.

I have only one host for several apps so I use Prefix Path in the ingress url.

For now, I am just trying to make the "mancenter" work with "/hazelcast" prefix (as it's a UI, I could quickly check that the release would work. I might change the prefix later...)

I succeed at hitting the ingress  but css & js files are not found :

![image](ht

[2022-08-24 09:17] JesperBerggren opened #305 "Port name in hazelcast Service must be configurable or renamed so it's compliant with Istio naming standards"
Hello,

We're using Hazelcast in a very restrictive on-premise Kubernetes cluster with Istio on top.
It's set up with DNS discovery.

In order to get it properly up and running with Istio, it's necessary to have the port renamed according to Istio naming standards.
That means it must be named <protocol>-<name>. In this case tcp-hzport.

It's currently configured like this:

_helm upgrade --install

[2022-08-25 10:11] mtyazici commented on #305
Hi @JesperBerggren,

That means it must be named -. In this case tcp-hzport.

Could you provide a link for this?

[2022-08-26 07:11] #305 closed

[2022-10-21 03:44] saikirandusari opened #316 "Service Account cannot list statefulsets"
Hi there, I'm using 5.2.0-SNAPSHOT and have observed the below error during the Hazelcast member startup.

` [hazelcast-test-dc] [5.2.0-SNAPSHOT] [x.x.x.x]:5702 is STARTING
Exception in thread "hz-k8s-sts-monitor" com.hazelcast.spi.exception.RestClientException: Failure executing: GET at: https://kubernetes.default.svc/apis/apps/v1/namespaces/hazelcast-test/statefulsets. Message: {"kind":"Status",

[2022-10-24 10:40] mtyazici commented on #316
Hi @saikirandusari, there is an open PR #310  for 5.2 improvements. Thanks for the issue!

[2022-10-26 18:18] utkukaratas opened #319 "Misleading setting "gracefulShutdown.enabled""
One expects setting `gracefulShutdown.enabled: false` does what it says. But indeed this will just result in not passing a `terminationGracePeriodSeconds` value at all and that will result in defaulting to whatever is the default `terminationGracePeriodSeconds` value on k8s. (on my local k8s install that is 60 seconds)

What you need to do for disabling graceful shutdown is `gracefulShutdown.maxWa

[2022-11-07 00:57] saikirandusari commented on #316
Thank you @mtyazici.

[2022-11-07 00:57] #316 closed

[2022-11-09 14:17] MayurDhande-GSLab opened #323 "Question: What is the correct usage of `service.name`"
Hello,

I have a question regarding configuring this chart. Below is my `values.yaml` file,
[code]
- Question: `service.name` is only used when `service.create` is `false`. But setting it to `false` does not create the service (removes the service if already created). So basically this configuration is of no use.

Please guide on this. Thank you

[2022-11-09 15:09] MayurDhande-GSLab commented on #323
Created #324 for this.

[2022-11-10 08:55] semihbkgr commented on #323
Hi @MayurDhande-GSLab
Thanks for the issue!

The `service.name` filed is used to declare existing service name.

Name of Service, by default generated using the fullname template.
To override, two condition need to be met: service.create=false (service must exist before chart deploy) and value of `service.name` must not be nil.

[2022-11-10 09:44] MayurDhande-GSLab commented on #323
Hi @semihbkgr
Suppose I have an existing service deployed, and now I want to override its name, so I will set `service.create=false` and `service.name=newName`, then when I apply the chart, it removes the deployed service and does not create a new one as basically `service.create=false`.

If `service.name` is available, then that must be used, else use the default generated using fullname template

[2022-11-15 19:50] semihbkgr commented on #304
Hi @stockersky

As far as I understand, you want to set custom Ingress path for Management Center. To be able to do that, you also have to set context path of Management Center.

`hazelcast.mc.contextPath` : Prefix of all URL paths in Management Center. Default: ' ' (empty).

To set context path, you can declare `mancenter.contextPath` field in values.yaml.

In your case, context path should be se

[2022-11-16 05:16] JamalSale commented on #232
any news over there? we also have alot of files, so need to understand how to cleanup

[2022-11-17 10:43] semihbkgr commented on #323
I don't understand what you mean by saying `when I apply the chart, it removes the deployed service`. It seems like it is not
 a possible case and I cannot reproduce it. Can you share your configurations.

[2022-11-17 10:54] MayurDhande-GSLab commented on #323
@semihbkgr Sorry, I meant installing the chart,
I am installing the chart using,
[code]
Then, service name is not what I specified in `service.name`, it is auto generated.
The documentation says, `service.create` must be `false`, in order for `service.name` to be used., but if I install the chart,
[code]
then above line does not even create a kubernetes `Service` object (because `service.create` i

[2022-11-17 10:59] semihbkgr commented on #323
The correct usage of `service.create` and `service.name` is that:

To create a new service with chart install, you do not need to do anything special, it is the default behavior.

However, in case that you have an already existing service, and you want to use that service instead of creating new one. Then your config should be like this.

[code]

[2022-11-17 11:05] MayurDhande-GSLab commented on #323
Thanks for the information.
Having an existing k8 Service running, when I use your configuration, the `helm diff` plugin sees `service.create` is now `false` and as removes the k8 Service altogether, (since Service.yaml template would only be installed when `service.create` is true)

[2022-11-18 09:01] semihbkgr commented on #323
That is already what we expect when `service.create` is set to false.

[2022-11-18 09:09] MayurDhande-GSLab commented on #323
Correct me if I am wrong,
- Create service only if `service.create` is `true` with the default templatized name.
- Existing service is deleted (by `helm diff`) if `service.create` is `false`.
- finally, `service.name` is used only when `service.create` is `false`. But in this case if service is going to get deleted (because `create=false`, then `service.name` will never be used.

My point is value

[2022-11-18 09:15] MayurDhande-GSLab commented on #323
There is difference in the documentation of hazelcast vs hazelcast enterprise. Below is the enterprise documentation,
![image](https://user-images.githubusercontent.com/25840389/202665463-eaf34192-0ca7-446b-9f9f-7162832b703c.png)

This correctly documents the usage, i.e. provide `service.name` if you want to override the name of the service that will going to be installed. (Although the template c

[2022-11-18 09:17] MayurDhande-GSLab commented on #323
Why to even declare the name of existing service, if the name is anyways going to get auto generated. What is the point of having that name in the configuration file. That's just opposite of what configuration means.

[2022-11-18 09:21] MayurDhande-GSLab commented on #323
Expected behavior should be as documented in the enterprise documentation, that is,
If `service.name` is provided, use that to while naming the k8 Service object, else use the templatized auto generate name.
(and, create service only if `service.create=true`)

[2022-11-18 09:39] MayurDhande-GSLab commented on #323
@semihbkgr, I found the merged PR that did this change https://github.com/hazelcast/charts/pull/54
It still does not convince me, but closing I am this issue.

[2022-11-18 09:39] #323 closed

[2022-11-18 10:28] #304 closed